<div fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="https://microservicehandson.s3.amazonaws.com/nature.jpg" width="400"/>
    <div>Hello {{ restoutput | async }}</div>
    <div class="auth-box mat-elevation-z2">
      <div class="logo"></div>
      <mat-tab-group>
        <mat-tab label="Sign In" aria-label="Sign In">
          <codeveros-login></codeveros-login>
        </mat-tab>
        <mat-tab label="Register" aria-label="Register">
          <codeveros-register></codeveros-register>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
